
    <p>This is my page</p>
    {% if latest_expenses_list %}
    <ul>
        {% for expense in latest_expenses_list %}
        <li><a href="{% url 'budget:expense_detail' expense.id %}">{{ expense.amount }}</a></li>
        <!-- <li><a href="/budget/{{ expense.id }}/">{{ expense.amount }}</a></li> -->
        {% endfor %}
    </ul>
    {% else %}
        <p>No expenses are available.</p>
    {% endif %}
    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
