{% extends "budget/expenses/base.html" %}

{% block page_title %}Edit Expense{% endblock page_title %}

{% block content %}
  <div class="flex just-betw mt-2 mb-4">
      <h1 class="imp page-title">Edit Expense #{{ expense.id }}</h1>
      <a href="{% url 'budget:expense_detail' expense.id %}" type="button" class="btn btn-link imp text-info title-sm">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
  </div>


  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'budget:expense_edit' expense.id %}" method="POST" class="inline-form" enctype="multipart/form-data"> 
  {% csrf_token %}
  <!-- {% comment %} -->    <!-- {% endcomment %} -->

    <div class="form-group mb-2 row">
      <label for="receipt-file" class="col-sm-4 col-form-label"><span class="imp">Receipt</span> <small>(optional)</small></label>
      <div class="col-md-8 flex just-start">
        <label id="" class="flex w-75" for="receipt">
          <div class="btn btn-outline-primary w-100 imp"><i class="fas fa-camera fa-lg"></i> Choose file or photo</div>
          <input id="receipt" type="file" accept="image/*" capture=environment class="image-upload" name="receipt"/>
        </label>

        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="left" title="Upload a clean copy of your receipt and we'll auto-fill as many details as we can so you don't have to."><i class="far fa-question-circle fa-lg"></i></button>
      </div>
    </div>

    <div id="receipt-preview" class="flex just-around">
      <!-- <label id="receipt-label" for="receipt-file" class="col-sm-4 col-form-label imp sr-only">File</label> -->
      <!-- <div class="col-md-8 flex flex-col align-center"> -->
        <!-- <span>File name: </span> -->
        
          <span id="receipt-file"> 
              {% if expense.receipt %}
              <span class="mb-2 flex just-center"> 
                <!-- <img src="{{ expense.receipt.url }}" alt="{{ expense.receipt }}" class="w-75">  -->
                <img src="/receipt2.JPG" alt="{{ expense.receipt }}" class="w-75"> 
              </span>
              {% endif %}
          </span>
          <!-- <img id="receipt-image" src="#" alt="New Receipt"  class="w-50 d-none" /> -->
        
        <button id="remove-file" type="button" class="btn text-warning"><span class="sr-only">Remove file</span><i class="fas fa-times-circle fa-lg"></i></button>
      <!-- </div> -->
    </div>
    {% comment %}
    {% endif %}
    {% endcomment %}

    {% comment %} 
    {% if expense.receipt %} <img src="{{ expense.receipt.url }}" alt="sdfsdf" class="img-thumbnail"> {% endif %}{% endcomment %}
                  
    <div class="form-group mb-2 row">
      <label for="{{ form.expense_date.id_for_label }}" class="col-sm-4 col-form-label imp">Date</label>
      <div class="col-md-8 flex">
        {{ form.expense_date }}
        <button id="today" type="button" class="btn btn-link">Today</button>
      </div> 
    </div>
    <div class="form-group mb-2 row">
      <label for="{{forms.amount.id_for_label}}" class="col-sm-4 col-form-label imp">Amount</label>
      <div class="col-md-8">
        {{ form.amount }}
      </div>
    </div>

    <div class="form-group mb-2 row">
      <label for="{{ form.category.id_for_label }}" class="col-sm-4 col-form-label"><span class="imp">Category</span> <small>(optional)</small></label>
      <div class="col-md-8 flex">
        {{ form.category }}
        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Categories help you determine which areas you spend the most and allow you to set budgets for yourself."><i class="far fa-question-circle fa-lg"></i></button>
      </div>
      
    </div>

    <!-- <p class="imp">Additional details to help you find this expense later:</p> -->
    <div class="form-group mb-2 row">
      <label for="{{ form.vendor.id_for_label }}" class="col-sm-4 col-form-label"><span class="imp">Vendor</span> <small>(optional)</small></label>
      <div class="col-md-8">
        {{ form.vendor }}
      </div>
    </div>
    <div class="form-group mb-4 row">
      <label for="{{ form.description.id_for_label}}" class="col-sm-4 col-form-label"><span class="imp">Description</span> <small>(optional)</small></label>
      <div class="col-md-8">
        {{ form.description }}
      </div>           
    </div>

    <button type="submit" class="btn btn-primary block imp title-med"><i class="fas fa-receipt"></i> Save Changes</button>


  </form>
{% endblock content%}
  
{% block bootstrap_scripts %}
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock bootstrap_scripts %}

{% block my_scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

  <!-- <script src="../../../static/budget/scripts/receiptFileDisplay.js"></script> -->
  <script src="../../../static/budget/scripts/setDateToday.js"></script>
  <script src="../../../static/budget/scripts/addPlaceholderTextToSelect.js"></script>
  <!-- <script src="../../../static/budget/scripts/removeReceipt.js"></script> -->
  <script src="../../../static/budget/scripts/displayImagePreviewBeforeUpload.js"></script>
  <!-- <script src="../../../static/budget/scripts/callOCR.js"></script> -->

  <script>
    // console.log(uploadReceiptButton)
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        let expenseValue = document.getElementById("id_expense_date");

        let url = "{% url 'budget:read_receipt' %}";



        uploadReceiptButton.addEventListener("change", readReceipt);

        function readReceipt() {
            // console.log(uploadReceiptButton.files)
            // console.log("yes")
            const file = new FormData();
            // const fileField = document.querySelector('input[type="file"]');

            // formData.append('username', 'abc123');
            file.append("file", uploadReceiptButton.files[0]);
            // let file = uploadReceiptButton.files[0];
            console.log(uploadReceiptButton.files[0]);
            // console.log(file)
            // formData.append('avatar', fileField.files[0]);

            const options = {
                method: 'POST',
                // body: JSON.stringify(file),
                body: file,
                // csrfmiddlewaretoken: csrftoken,
                headers: {
                  "X-CSRFToken": csrftoken,
                  // "Accept": "application/json",
                  // "Content-Type": "multipart/form-data"
                }
                // csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            delete options.headers['Content-Type'];

            // const upload = (file) => {
              fetch(url, options)
                  .then(res => res.json())
                  .then(data => {
                      //code
                      console.log(data)
                  }).catch(err => {
                      console.log('Error: ', err)
                  })

            // }

            
        }

  </script>


{% endblock my_scripts %}