{% extends "budget/base.html" %}
{% load static %}

<!-- Page title -->
{% block page_title %}Budget Summary{% endblock %}

{% block extra_styles %}
<!-- Pie chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
{% endblock %}


<!-- Income nav button is active in site nav bar -->
{% block summary-active %}navbar-active{% endblock summary-active %}
{% block summary_active_sr %}<span class="sr-only">(current)</span>{% endblock summary_active_sr %}

{% block content %}
<div class="flex flex-col">
  {% for each in bycateg %}
    <span>{{ each }}</span>
    <span>{{ each.sum }}</span>
  {% endfor %}
</div>

</i>
<div>
    <canvas id="myChart"></canvas>
</div>

{% endblock %}
<!-- width="400" height="400" -->

{% block my_scripts %}
<!-- Generate PIE charts -->
<script src="{% static '/budget/scripts/summary/generatePieCharts.js' %}"></script>

{% endblock %}
