body {
    background: #593196;
    /* color: #E6E6FA; */
}

.login {
    max-width: 400px;
    margin-top: 5%;
    padding: 20px 20px;
    background: #E6E6FA;
}

.logos {
    /* color: #593196; */
    font-family: 'Maven Pro', sans-serif;
    color: #593196;
    margin-bottom: 30px;
    /* margin: 20px 20px 40px 20px; */
    font-size: 2.8rem;
}

.money {
    color: #d78e0f;
}

.logo-pic {
    width:3.5rem;
}


#forgot-pw {
    padding: 5px 0 5px 5px;
    /* color: red;
     */
    justify-self: flex-end;
    align-self: flex-end;
}

@media screen and (min-width: 900px) {

    .login {
        background: #E6E6FA;
        padding: 20px 50px;
    }
    
  }