{% extends "budget/expenses/new-spending.html" %}
{% load static %}

<!-- Set the title tag -->
{% block page_title %}Edit Expense{% endblock page_title %}

<!-- Page title and optional button-->
{% block h1 %}Edit Expense #{{ expense.id }}{% endblock h1 %}

{% block extra_button%}
<a href="{% url 'budget:expense_detail' expense.id %}" class="btn btn-info imp title-sm">Cancel</a>
{% endblock extra_button%}

<!-- Set the form action -->
{% block one-form-action %}{% url 'budget:expense_edit' expense.id %}{% endblock %}

<!-- Add a receipt if the expense has one -->
{% block existing_receipt %}
  {% if expense.receipt %}
  <span id="file-and-del" class="mb-2 flex just-center align-start w-75"> 
      <!-- <img src="{{ expense.receipt.url }}" alt="{{ expense.receipt }}" class="w-75">  -->
    <img src="../../../static/budget/walmart.png" alt="{{ expense.receipt }}" class="w-100"> 
    <button id="remove-file" type="button" class="btn btn-outline-danger del-butn"><span class="sr-only">Remove file</span><i class="fas fa-times-circle fa-2x"></i></button>
  </span>
  {% endif %}
{% endblock existing_receipt %}

<!-- Add the name to the button -->
{% block button-name %} Save Changes{% endblock %}


{% block extra-scripts %}
<!-- Function to acivate picker -->
<script src="{% static '/budget/scripts/activateDateCalendarsEdit.js' %}"></script>

<!-- Convert date for time picker so it doesn't blow up -->
<script src="{% static '/budget/scripts/convertDateForPicker.js' %}"></script>

{% endblock %}