{% extends "budget/expenses/new-repeat-bill.html" %}
{% load static %}

<!-- Set the title tag -->
{% block page_title %}Edit Bill{% endblock page_title %}

<!-- Page title and optional button-->
{% block h1 %}Edit Bill{% endblock h1 %}

<!-- Cancel edits -->
{% block extra_button%}
<a href="{% url 'budget:expense_list_recurring' %}" class="btn btn-info imp title-sm">Cancel</a>
{% endblock extra_button%}

<!-- Set the form action -->
{% block recur-form-action %}{% url 'budget:recurring_edit' expense.id %}{% endblock %}

<!-- Add the name to the button -->
{% block button-name %} Save Changes{% endblock %}