{% extends "budget/expenses/form.html" %}
{% block staticload %}{% load static %}{% endblock %}

<!-- Set the title tag -->
{% block page_title %}New Expense{% endblock page_title %}

{% block extra_styles %}
<!-- Date picker -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

<!-- Set the "Activity" tab class -->
{% block new-activ %}active imp{% endblock %}

<!-- Set the h1 tag  -->
{% block h1 %}
{% endblock h1 %}

<!-- Add the button to toggle between one-time and recurring expense -->
{% block toggle_type %}
<div class="flex align-center mb-4">
  <div class="custom-control custom-checkbox mr-2">
    <input type="checkbox" class="custom-control-input" id="toggleType">
    <label class="custom-control-label" for="toggleType">Is this a bill that repeats monthly?</label>
  </div>
  <button class="btn btn-outline-primary question" type="button" data-toggle="collapse" data-target="#monthlyBill" aria-expanded="false" aria-controls="monthlyBillDescription">
    <i class="fas fa-question fa-sm"></i>
  </button>
</div>

<div class="collapse mb-3" id="monthlyBill">
  <div class="card card-body">
    <h3 class="imp title-sm"><i class="fas fa-question-circle"></i> What is a repeating bill?</h3>
    <p class="">Repeating bills are any bills that you are charged the same amount for every month - rent, car payments, and insurance are great examples of monthly bills. When you create a monthly bill, we will go ahead and automatically log this bill in your spending activity every month on the day you choose.</p>
  </div>
</div>
{% endblock toggle_type %}

<!-- Set the form action and class for one-time form -->
{% block one-form-action %}{% url 'budget:expense_form_page' %}{% endblock %}
{% block one-form-class %}inline-form{% endblock %}

<!-- Set the form action and class for recurring expense -->
{% block recur-form-action %}{% url 'budget:expense_form_page' %}{% endblock %}
{% block recur-form-class %}d-none{% endblock %}

<!-- Set the one-time form button name -->
{% block button-name %} Add to Spending History{% endblock %}

<!-- Set the recurring form button name -->
{% block recur-button-name %} Create Repeating Bill{% endblock %}

<!-- Add scripts for this page -->
{% block my_scripts %}

<!-- Outside scripts for date and date range picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script src="{% static '/budget/scripts/activateDateCalendarsNew.js' %}"></script>

<script src="{% static '/budget/scripts/toggleExpenseType.js' %}"></script>
<script src="{% static '/budget/scripts/setDateToday.js' %}"></script>
<script src="{% static '/budget/scripts/displayImagePreviewBeforeUpload.js' %}"></script>
<script src="{% static '/budget/scripts/deleteFile.js' %}"></script>

<!-- Add 'None' as the default option in the category dropdown -->
<script src="{% static '/budget/scripts/addPlaceholderTextToSelect.js' %}"></script>
{% endblock %}
