{% extends "budget/base.html" %}

<!-- Page title -->
{% block page_title %}Income{% endblock %}

<!-- Income nav button is active in site nav bar -->
{% block income-active %}navbar-active{% endblock income-active %}
{% block income_active_sr %}<span class="sr-only">(current)</span>{% endblock income_active_sr %}

<!-- Spending nav bar -->
{% block page-header %}
<ul class="nav nav-pills nav-fill mb-4">
    <li class="nav-item ">
        <a class="nav-link title-med {% block hist-activ %}{% endblock %}" href="{% url 'budget:expense_list' %}"><i class="fas fa-list-ul"></i> <span class="sub-nav">History</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link title-med {% block rec-activ %}{% endblock %}" href="{% url 'budget:expense_list_recurring' %}"><i class="fas fa-redo-alt"></i> <span class="sub-nav">Repeating Income</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link title-med {% block categ-activ %}{% endblock %}" href="{% url 'budget:category_list' %}"><i class="fas fa-tags"></i> <span class="sub-nav">Categories</span></a>
    </li>
</ul>

{% endblock %}

{% block extra_button%}
<a class="btn btn-warning title-xl imp" href="{% block link-url %}{% endblock %}"><i class="fas fa-plus"></i>  {% block btn-label %}{% endblock %}</a>
{% endblock extra_button %}