/*  ======================================================
    TABLE OF CONTENTS
    1. Global formats and variables
    2. 
    3. 
    4. 
    5. 
    ======================================================  */

/*  ======================================================
    NavBar
    ======================================================  */

nav {
    /* height: 15vh; */
    padding: 15px 20px;
}

.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
    align-self: flex-end;
}

.navbar-list {
    list-style: none;
    color: white;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;
    /* padding: 10px; */
}

.navbar-link {
    color: white;
    padding: 5px 10px;
    font-size: 1.1rem;
    /* text-decoration: none; */
}

.navbar-link:hover,
.navbar-link:focus, 
.navbar-link:hover:focus:active,
.logo:hover,
.logo:focus, 
.logo:hover:focus:active {
    color: #A991D4;
    text-decoration: none;
} 


.navbar-active {
    background-color: white;
    color: #593196;
    border-radius: 5px;
    font-weight: bold;
}

.navbar-active:hover,
.navbar-active:focus, 
.navbar-active:hover:focus:active {
    color: #593196;
} 

/* Responsive first design */

.hide {
    display: none;
}

.hamb {
    color: white;
    border-color: white;
}

.navbar-link {
    /* margin: 5px 0; */
    line-height: 3;
    
}


@media screen and (min-width: 900px) {
    .hamb {
        display: none;
    }
    .hide {
        display: flex;
    }
    .navbar-link {
       /* margin: 0; */
       line-height: 1.5;
       margin: 0 10px;
    }

    .navbar-list {
        /* display: flex-row; */
        flex-direction: row;
        
    }
  }

/*  ======================================================
    Body Containers padding/position
    ======================================================  */
.table-content {
    padding: 15px 20px;
}

.contents {
    /* padding */
    padding: 10px 20px;
    /* padding-top: 5px; */
    /* width: 350px; */
    max-width: 500px;
    /* margin-right: auto;
    margin-left: auto; */
    margin: 0 auto;
    /* border: 1px solid black; */
}

/*  ======================================
    Styling for Desktop
    ======================================  */
    
@media screen and (min-width: 800px) {
    /* body {
        background-color: lightgray;
    } */

    .contents {
        margin: 0 auto;
        background-color: white;
        max-width: 450px;
        height: 100vh; 
        /* padding: 50px 0 100px 0; */
    }



}



/*  ======================================================
    Font-sizes
    ======================================================  */
.page-title {
    font-size: 2em;
}
.title-xl {
    font-size: 1.4em;
}

.title-lg {
    font-size: 1.3em;
    margin-bottom: 0;
}

.title-med {
    font-size: 1.2em;
    margin-bottom: 0;
}

.title-sm {
    font-size: 1.1em;
}


/*  ======================================================
    Forms
    ======================================================  */

.form-control:focus {
    box-shadow: none;
}

textarea {
    resize: none;
    /* margin: 0; */
}


/*  ======================================================
    Spacing and centering/alignment
    ======================================================  */


.block {
    width: 100%;
    display: block;
}



/*  ======================================
    buttons
    ======================================  */

.btn-primary,
.btn-success,
.btn-danger,
/* .btn.btn-outline-primary, */
.btn-info
/* .btn */
/* .btn.btn-outline-info */
 {
    /* box-shadow:  */
    box-shadow: 0px 0px 5px #888888;
    /* border-radius: 5px; */
}

/* This ensures that the receipt delete button is displayed properly on top of the receipt */
#file-and-del {
    position: relative;
}

.del-butn {
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 100%;
    padding: 0px;
    border: none;
    background-color: white;


}


/*  ======================================================
    Other Formatting
    ======================================================  */


/*  ======================================
    imp Class - Bolding
    ======================================  */
.imp {
    font-weight: bold;
}

/*  ======================================
    Flex
    ======================================  */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}




.just-center {
    justify-content: center;
}

.just-betw {
    justify-content: space-between;
}

.just-around {
    justify-content: space-around;
}

.just-start {
    justify-content: flex-start;
}

.just-end {
    justify-content: flex-end;
}



.flex-wrap {
    flex-wrap: wrap;
}

.no-shrink {
    flex-shrink: 0;
}

/*  ======================================================
    Footer
    ======================================================  */


main {
    margin-bottom: 80px;
}

.footer {
    padding: 5px 7px 0 7px;
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 5px #888888;
    z-index: 101;
}



/* hiding the document or picture uplod original button */
/* .image-upload > input { */
    .image-upload{
        visibility:hidden;
        width:0;
        height:0
    }


