{% extends "budget/expenses/form.html" %}

{% block page_title %}Edit Expense{% endblock page_title %}

{% block h1 %}Edit Expense #{{ expense.id }}{% endblock h1 %}

{% block extra_button%}<a href="{% url 'budget:expense_detail' expense.id %}" type="button" class="btn btn-link imp text-info title-sm">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
{% endblock extra_button%}

{% block form-action %}{% url 'budget:expense_edit' expense.id %}{% endblock form-action %}

{% block existing_receipt %}
  {% if expense.receipt %}
  <span class="mb-2 flex just-center"> 
      <img src="{{ expense.receipt.url }}" alt="{{ expense.receipt }}" class="w-75"> 
      <!-- <img src="/receipt2.JPG" alt="{{ expense.receipt }}" class="w-75">  -->
  </span>
  {% endif %}
{% endblock existing_receipt %}

{% block existing_receipt_delete %}
  {% if expense.receipt %}
  <button id="remove-file" type="button" class="btn text-warning"><span class="sr-only">Remove file</span><i class="fas fa-times-circle fa-lg"></i></button>
  {% endif %}
{% endblock existing_receipt_delete %}

