{% extends "budget/expenses/form.html" %}

{% block page_title %}Edit Expense{% endblock page_title %}

{% block h1 %}Edit Expense #{{ expense.id }}{% endblock h1 %}

{% block extra_button%}<a href="{% url 'budget:expense_detail' expense.id %}" type="button" class="btn btn-link imp text-info title-sm">Cancel <i class="fas fa-times" aria-hidden="true"></i></a>
{% endblock extra_button%}

{% block form-action %}{% url 'budget:expense_edit' expense.id %}{% endblock form-action %}

{% block existing_receipt %}
  {% if expense.receipt %}
  <span id="file-and-del" class="mb-2 flex just-center align-start w-75"> 
      <!-- <img src="{{ expense.receipt.url }}" alt="{{ expense.receipt }}" class="w-75">  -->
    <img src="../../../static/budget/walmart.png" alt="{{ expense.receipt }}" class="w-100"> 
    <button id="remove-file" type="button" class="btn btn-outline-danger del-butn"><span class="sr-only">Remove file</span><i class="fas fa-times-circle fa-2x"></i></button>
  </span>
  {% endif %}
{% endblock existing_receipt %}

