{% extends "budget/expenses/expense.html" %}
{% load static %}

{% block page_title %}Monthly Bills{% endblock page_title %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'budget/rec-list.css' %}">
{% endblock extra_styles %}

{% block rec-activ %}active imp{% endblock %}

{% block content %}
    
  <div class="table-responsive flex flex-col">

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {% endif %}
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% if recurring_expenses %}
    
    <h2 class="imp page-title mb-3">Monthly Bills</h2>
    <span class="mb-3">Select an expense to edit or deactivate it.</span>

    <table class="table mb-5">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="title-sm">Day of the Month</th>
          <th scope="col" class="title-sm">Amount</th>
          <th scope="col" class="title-sm">Category</th>
          <th scope="col" class="title-sm">Description</th>
        </tr>
      </thead>
      <tbody>        
        {% for expense in recurring_expenses %}

        <tr class="click btn-link" id="{{ expense.id }}">
          <td >{{ expense.day }}</td>
          <td >${{ expense.amount }}</td>
          <td >{{ expense.category }}</td>
          <td>{{ expense.description }}</td>

        </tr>

        {% endfor %}

      </tbody>
    </table>
    {% else %}
    <p class="mb-5">You don't have any recurring expenses.</p>
    {% endif %}
    
    
  </div>

{% endblock content%}

{% block my_scripts %}

<!-- Declare global template variables -->
<script type="text/javascript">
</script>

<!-- Makes each table row a URL -->
<script src="../../../static/budget/scripts/clickRecurringRowToRedirect.js"></script>



{% endblock %}
